
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1080px;
    background: url(../image/BG.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    
}