body{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 1080px;
    background: url(../image/BG.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
}