header{
    width: 1570px;
    max-width: 100%;
    height: 207px;
    margin-top: 43px;    
    .upper{
        width: 100%;
        height: 207px;
        &_menu{
            padding-bottom: 38px;
            ul{
                padding: 0;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                li{
                   
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #1C1C1C;
                    list-style-type:none;
                } 
            }  
            border-bottom: 1px solid rgb(11, 11, 11, 0.07);                    
        }
        &_header{
            height: 148px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_text{
                padding: 0;
                width: 206px;
                height: min-content;
                text-align: center;
                color: #1C1C1C;
                p{
                    padding: 0;
                    margin: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    span{
                        font-weight: 600;
                    }
                }
                p + p{
                    margin-top: 1em;
                }
            }
            &_pdf{
                height: min-content;
                &_logo{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                    border-radius: 100px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 13px;
                    text-align: center;
                    letter-spacing: 0.04em;
                    color: #12C868;
                    padding: 15px 11px;
                    margin-right: 14px;
                }
                &_text{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    letter-spacing: 0.04em;
                    color: #1C1C1C;
                    border-bottom: 2px dotted #12C868;
                }
            }
            &_logo{
                background: #FFFFFF;
                box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.03);
                width:274px;
                height: 148px;
                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    width: 188px;
                    height: 78px;
                    background-image: url(../image/logo.png);
                }
            }
            &_messagers{
                border: 1px solid red;
                li{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    span{
                        font-weight: 700;
                    }
                }
                > div{
                    display: flex;
                    margin-top: 16.5px;
                    gap:14px;

                    > div{
                    height: 44px;
                    width: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
                }                
                &_viber{                   
                     background: #976FCC;                     
                }
                &_whats{
                    background: #12C868;
                }
                &_telegr{
                    background: #05A0EB;
                }
            }
        }
    }
}