$adaptive: 450px;
main{
    width: 1570px;
    max-width: 100%;
    margin-top: 80px;
    display: flex;
    @media screen and (max-width:$adaptive){
       width: 100vw;
       max-width: 100vw;
       flex-direction: column-reverse;
       align-items: center;
       margin-top: 0px;
    }
    .bullet{
        position: relative; 
        width: 225px;
        background: #ffffff;
        box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
        border-radius: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:24px;
        & ::before {
            display: block; 
            content: ''; 
            width: 100%; 
            height: 30px; 
            background: #ffffff;
            transform: translateY(-100%) skewY(-175deg);
            transform-origin: left; 
            position: absolute; 
            top: 0; 
            left: 0; 
            border-radius: 20px 20px 0px 0px;
        }
        > div{
            display: flex;
            justify-content: center;
            align-items: center;            
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #1C1C1C;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 10px -10px;
            &:first-child{
                margin-top: 15px;
               
            }
            span{
                font-weight: 700;
                color: #1C1C1C; 
            }
        }
       
    }
    .text{
        width: 728px;
        margin-left: 71px;
        @media screen and (max-width:$adaptive){
            margin-left: 0px;
            width: 90%;
            max-width: 100vw;
            display: flex;
            flex-direction: column;            
         }
        &_sell{
            font-style: normal;
            font-weight: 300;
            font-size: 55px;
            line-height: 85px;           
            color: #1C1C1C; 
            margin: 0;         
            span{
                font-weight: 600; 
            }
            @media screen and (max-width:$adaptive){
                text-align: center;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                order:1;
             }
        }
        &_montage{  
            display: inline-block;          
            padding: 0;            
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: #1C1C1C;
            margin: 19px 0 45px 0;
            span{
                margin-left: 16px;
            }
            @media screen and (max-width:$adaptive){
                text-align: center;
                font-size: 13px;
                line-height: 16px;
                order:2;
                span{
                    margin-left: 6px;
                }
             }
        }
        &_buttons{
            display: flex;
            margin-bottom: 38px;
            @media screen and (max-width:$adaptive){
                flex-direction: column;
                order: 4;
             }
            &_calc{
                height: 100px;
                width: 375px;            
                background: #12C868;
                box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
                border-radius: 500px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-right: 31px;
                }
                @media screen and (max-width:$adaptive){
                    height: 60px;
                    width: 100%;
                    padding: 0;
                    span{
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 16px;
                    }
                 }
            }
            &_write{
                @extend .text_buttons_calc;
                background: #F38120;
                width:335px;
                margin-left: 18px;
                @media screen and (max-width:$adaptive){
                    margin-left: 0px;
                    width: 100%;                   
                 }
            }
        }
        &_ask{
            display: flex;
            flex-direction: row;
            @media screen and (max-width:$adaptive){
                flex-direction: column;
                align-items: center;
               order:3;               
             }
            p{
                margin: 0 ;
                padding-left: 16px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #1C1C1C;
                span{
                    font-weight: 600;
                }
            }
        }
    }
}