main{
    width: 1570px;
    max-width: 100%;
    margin-top: 80px;
    display: flex;
    .bullet{
        width: 225px;
        background: #FFFFFF;
        box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:24px;
        > div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #1C1C1C;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 10px -10px;
            &:first-child{
                margin-top: 39px;
            }
            span{
                font-weight: 700;
                color: #1C1C1C; 
            }
        }
       
    }
    .text{
        width: 728px;
        margin-left: 71px;
        &_sell{
            font-style: normal;
            font-weight: 300;
            font-size: 55px;
            line-height: 85px;           
            color: #1C1C1C; 
            margin: 0;         
            span{
                font-weight: 600; 
            }
        }
        &_montage{  
            display: inline-block;          
            padding: 0;            
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: #1C1C1C;
            margin: 19px 0 45px 0;
            span{
                margin-left: 16px;
            }
        }
        &_buttons{
            display: flex;
            margin-bottom: 38px;
            &_calc{
                height: 100px;
                width: 375px;            
                background: #12C868;
                box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
                border-radius: 500px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-right: 31px;
                }
            }
            &_write{
                @extend .text_buttons_calc;
                background: #F38120;
                width:335px;
                margin-left: 18px;
            }
        }
        &_ask{
            display: flex;
            flex-direction: row;
            
            p{
                margin: 0 ;
                padding-left: 16px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #1C1C1C;
                span{
                    font-weight: 600;
                }
            }
        }
    }
}